@charset "utf-8";

body {
  font-family: 'NexonFootball', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
.ramche {
  font-family: 'Ramche', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
.project {
  position: relative;
  border-right: solid 1.563vw #ff00bb;
  border-left: solid 1.563vw #ff00bb;
}
.sticky {
  position: absolute;
  width: 100%;
  height: 1.563vw;
  background-color: #ff00bb;
  z-index: 9;
}

figure figcaption {
  color: #ff00bb;
}
.overline {
  top: 0;
}
.underline {
  top: calc(100vh - 1.563vw);
}
#project2 {
  border-color: #00ae4b;
}
#project2 .sticky {
  background-color: #00ae4b;
}
#project2 figure figcaption {
  color: #00ae4b;
}
#project3 {
  border-color: #ff4000;
}
#project3 .sticky {
  background-color: #ff4000;
}
#project3 figure figcaption {
  color: #ff4000;
}
#project4 {
  border-color: #ffc400;
}
#project4 .sticky {
  background-color: #ffc400;
}
#project4 figure figcaption {
  color: #ffc400;
}
#project5 {
  border-color: #2b58ff;
}
#project5 .sticky {
  background-color: #2b58ff;
}
#project5 figure figcaption {
  color: #2b58ff;
}
#project1 figure .img-box {
  box-shadow: 0px 0px 1.042vw 0.313vw #ff00bb;
}
#project2 figure .img-box {
  box-shadow: 0px 0px 1.042vw 0.313vw #00ae4b;
}
#project3 figure .img-box {
  box-shadow: 0px 0px 1.042vw 0.313vw #ff4000;
}
#project4 figure .img-box {
  box-shadow: 0px 0px 1.042vw 0.313vw #ffc400;
}
#project5 figure .img-box {
  box-shadow: 0px 0px 1.042vw 0.313vw #2b58ff;
}
.block {
  display: block;
}
a {
  display: block;
}
.container .up-button {
  position: fixed;
  bottom: 4vh;
  right: 2.2vw;
  width: 4.01vw;
  aspect-ratio: 78 / 85;
  z-index: 99;
  cursor: pointer;
  pointer-events: none;
}
.container .up-button svg {
  fill: #003295;
  opacity: 0.5;
}
.container .up-button svg:hover {
  opacity: 1;
}
.container .top-menu {
  display: flex;
  justify-content: center;
  padding: 5px 0 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  color: #000;
  vertical-align: middle;
  z-index: 9999;
  transition: 0.3s;
}
.container .top-menu.show {
  transform: translate(-50%, -3.646vw);
}
.container .top-menu li {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 0.26vw 1.563vw;
  border-radius: 100px;
  font-size: 1.563vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  gap: 0.5vw;
  cursor: pointer;
}
.container .top-menu li:hover,
.container .top-menu li:hover svg {
  color: #ff4000;
  fill: #ff4000;
}
.container .top-menu li:nth-child(1).listOn,
.container .top-menu li:nth-child(2).listOn {
  color: #fff;
  fill: #fff;
  background-color: #ff4000;
}
.container .top-menu li:nth-child(1).listOn svg,
.container .top-menu li:nth-child(2).listOn svg {
  fill: #fff;
  transform: rotate(180deg);
}
.container .top-menu li svg {
  fill: #7c7c7c;
  width: 0.885vw;
}
.container .list-fix {
  /* display: none; */
  position: fixed;
  background-color: #ffffffb7;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.container .solo-fixed {
  display: none;
}
.container .team-fixed {
  display: none;
}
.container .list-fix ol,
.container .list-fix ol li {
  margin: 0;
}
.container .team-fixed ol,
.container .solo-fixed ol {
  position: absolute;
  z-index: 999;
  top: 5.208vw;
  left: 35%;
  font-size: 5vw;
  font-family: 'inter', sans-serif;
  font-weight: 300;
}
.container .team-fixed ol a:hover,
.container .solo-fixed ol a:hover {
  color: #ff4000;
  opacity: 1;
}
.container .team-fixed ol {
  left: 42%;
}

header {
  position: relative;
  height: 78.958vw;
  background-color: #003295;
  padding-top: 5.208vw;
  color: white;
}

header h2 {
  text-transform: capitalize;
  position: sticky;
  font-size: 3.125vw;
  font-weight: bold;
  margin-left: 4.167vw;
}
header h1 {
  line-height: 0.8;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 36.458vw;
  display: flex;
  gap: 9.375vw;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  color: #ffc400;
  position: relative;
  z-index: 1;
}
header h1 span:first-child {
  color: #ff00bb;
}
header h1 span:last-child {
  color: #00ae4b;
}
header h1 span:first-child.active {
  animation: updown 2s steps(2) infinite;
}
header h1 span:nth-child(2).active {
  animation: diagonal2 2s steps(2) infinite;
}
header h1 span:last-child.active {
  animation: leftright 1s steps(2) infinite;
}

header img {
  position: absolute;
  display: inline-block;
}

header .deco1 {
  width: 5vw;
  top: 9.5%;
  left: 47.5%;
  z-index: 1;
}
header .deco2 {
  width: 7.5vw;
  top: 10%;
  right: 30%;
}
header .deco3 {
  width: 8.542vw;
  top: 12.5%;
  right: 1.2%;
}
header .deco4 {
  width: 6.042vw;
  top: 15%;
  left: 22.5%;
  z-index: 2;
}
header .deco5 {
  width: 7.552vw;
  top: 23.5%;
  right: 39%;
  z-index: 2;
}
header .deco6 {
  width: 7.708vw;
  top: 34%;
  left: 1%;
  z-index: 2;
}
header .deco7 {
  width: 11.615vw;
  top: 40%;
  left: 18.5%;
}
header .deco8 {
  width: 6vw;
  top: 42%;
  left: 37.5%;
}
header .deco9 {
  width: 8.958vw;
  top: 40%;
  right: 28%;
  z-index: 2;
}
header .deco10 {
  width: 5vw;
  right: 11%;
  bottom: 40%;
  z-index: 2;
}
header .deco11 {
  width: 7.552vw;
  bottom: 33%;
  right: 25%;
}
header .deco12 {
  width: 16.458vw;
  right: 0.5%;
  bottom: 19%;
}
header .deco13 {
  width: 11.354vw;
  left: 21%;
  bottom: 10%;
}
header .deco14 {
  width: 6.042vw;
  left: 6%;
  bottom: 4%;
}
header .deco15 {
  width: 9.063vw;
  left: 51%;
  bottom: 3.5%;
}
header .deco1.active {
  animation: roll45 1s steps(2) infinite;
}

header .deco2.active {
  animation: updown 1s steps(2) infinite;
  z-index: 1;
}

header .deco3.active {
  animation: diagonal1 0.8s steps(2) infinite;
}

header .deco4.active {
  animation: updown 1s steps(2) infinite;
}

header .deco5.active {
  animation: rollmove 2s steps(1) infinite;
}
header .deco6.active {
  animation: rollmove 2s steps(1) infinite;
}
header .deco7.active {
  animation: diagonal1 2s steps(2) infinite;
}
header .deco8.active {
  animation: move1 2s steps(2) infinite;
}
header .deco9.active {
  animation: rightleftFast 0.5s steps(2) infinite;
}
header .deco10.active {
  animation: roll45 1s steps(2) infinite;
}
header .deco11.active {
  animation: rollmove 2s steps(1) infinite;
}
header .deco12.active {
  animation: rollmoveLeft 2s steps(1) infinite;
}
header .deco13.active {
  animation: rollmove 2s steps(1) infinite;
}
header .deco14.active {
  animation: updown 1s steps(2) infinite;
}
header .deco15.active {
  animation: leftrightFast 0.5s steps(2) infinite;
}
@keyframes roll45 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rollmove {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1.25vw, -1.25vw);
  }
  50% {
    transform: translate(2.5vw, 0vw);
  }
  75% {
    transform: translate(1.25vw, 1.25vw);
  }
}
@keyframes rollmoveLeft {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-1.25vw, -1.25vw);
  }
  50% {
    transform: translate(-2.5vw, 0vw);
  }
  75% {
    transform: translate(-1.25vw, 1.25vw);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1.25vw);
  }
}
@keyframes leftright {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1.25vw);
  }
}
@keyframes leftrightFast {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2.5vw);
  }
}
@keyframes rightleftFast {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-2.5vw);
  }
}
@keyframes diagonal1 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(1.25vw, 1.25vw);
  }
}
@keyframes diagonal2 {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(-1.25vw, 1.25vw);
  }
}
header p {
  position: absolute;
  font-size: 2.083vw;
  line-height: 2;
}
header .hello {
  bottom: 31.5%;
  left: 3%;
}
header .will {
  bottom: 10%;
  right: 9%;
}
header .main-menu {
  padding: 0;
  position: absolute;
  font-size: 2.604vw;
  bottom: 19%;
  left: 38%;
}
ol {
  list-style: none;
  margin-top: 1.042vw;
}
ol li {
  position: relative;
  z-index: 9;
  margin: 0 0 0.625vw 7.5vw;
}
ol li a {
  display: flex;
  align-items: center;
}
ol li a:hover {
  opacity: 0.5;
}
ol li a svg {
  margin-right: 1.042vw;
  width: 2.083vw;
}

main .side-menu {
  list-style: none;
  position: fixed;
  left: 4.729vw;
  bottom: 4.167vw;
  font-size: 2vw;
  z-index: 99;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  font-family: 'Pretendard', sans-serif;
}
main .side-menu li {
  margin-left: 0;
  margin-bottom: 0;
}
main .side-menu li span {
  color: #003295;
  opacity: 0.5;
}
main .side-menu li a {
  color: #003295;
  fill: #003295;
  opacity: 0.5;
}
main .side-menu li a svg {
  width: 1.563vw;
}
main .side-menu li a:hover {
  opacity: 1;
}
main .side-menu li:last-child a {
  margin-top: 1vw;
  display: inline-block;
}
/* 프로젝트 형식 */
main .content-box .imsi-image {
  height: 100vh;
}
main figure {
  width: 65vw;
  margin-left: 25vw;
  padding: 5.208vw 0 4.104vw;
}
main figure figcaption {
  display: flex;
  justify-content: space-between;
  font-size: 2.604vw;
  font-weight: 700;
  margin-bottom: 0.833vw;
}
main figure .img-box {
  overflow: hidden;
  /* width: 100%; */
  display: flex;
  aspect-ratio: 2 / 1;
}
main .content-box {
  font-family: 'Pretendard', sans-serif;
}
main .text {
  padding-bottom: 10.416vw;
  margin-left: 25vw;
  color: #003295;
}
main .text .img-explain {
  font-size: 1.25vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1.563vw;
}
main .text .img-explain .period > span,
main .text .img-explain .tech > span {
  padding-left: 0.521vw;
}
main .text .img-explain .tech span {
  margin-right: 0.521vw;
  vertical-align: top;
}
main .text .page-explain {
  padding-top: 4.167vw;
}
main .text .page-explain .grid {
  display: grid;
  grid-template-columns: 7.813vw 1fr;
}
main .text .page-explain .grid:not(:first-child) {
  margin-top: 6.25vw;
}
main .text .page-explain .grid h3 {
  font-size: 1.823vw;
  font-weight: bold;
}
main .text .page-explain .description {
  font-family: 'Jamsil', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #202020;
  font-size: 1.25vw;
  border-left: 0.104vw solid #ff79db;
  padding-left: 3.125vw;
  font-weight: 200;
  line-height: 1.8;
}
main .text .page-explain .description .flex-center {
  display: flex;
  align-items: center;
  gap: 0.521vw;
}
main .text .page-explain .description .high {
  fill: #ff79db;
  width: 0.625vw;
  aspect-ratio: 1/2;
}
main .text .page-explain .description .medium {
  fill: #ff79db;
  width: 0.781vw;
}
main .text .page-explain .description .low::before {
  content: url('./images/desc_low.svg');
  display: inline-block;
  width: 0.729vw;
  margin-right: 0.521vw;
}
main .text .page-explain .description .enter {
  padding-left: 2.604vw;
}
main .text .page-explain .description h5 {
  padding-left: 2.083vw;
}
main .text .page-explain .description p {
  padding-left: 3.125vw;
}
main .text .page-explain .description > :not(:first-child) {
  margin-top: 1.042vw;
}
main .text .page-explain .description h4 {
  font-size: 1.406vw;
  font-weight: 500;
}
main .text .page-explain .description h4:not(:first-child) {
  margin-top: 2.084vw;
}
main .text .page-explain .description .color-box {
  display: flex;
}
main .text .page-explain .description .color {
  display: grid;
  place-items: center;
  font-weight: 500;
  background-color: #202020;
  width: 6.771vw;
  aspect-ratio: 13/9;
  font-size: 1.042vw;
}
main .text .page-explain .description .color:nth-child(1) {
  color: #fff;
}
main .text .page-explain .description .color:nth-child(2) {
  background-color: #f3f3f3;
}
main .text .page-explain .description .color:nth-child(3) {
  background-color: #c3c3c3;
}
main .text .page-explain .description .color:nth-child(4) {
  background-color: #f99d18;
}
main .text .page-explain .description .font-line {
  font-size: 1.563vw;
}
main .text .page-explain .description .font-line span {
  font-weight: 400;
}
main .text .page-explain .description .font-line > span:not(:first-child) {
  margin-left: 1.042vw;
}
main .text .page-explain .description .font-line span:nth-child(1) {
  font-family: 'DM Serif Display', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
main .text .page-explain .description .font-line span:nth-child(2) {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
main .text .page-explain .description .font-line span:nth-child(3) {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
main .text .page-explain .description .font-line span:nth-child(4) {
  font-family: 'Jacques Francois', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
main .text .page-explain .description .font-line span:nth-child(5) {
  font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .text .page-explain .description .concept {
  font-size: 1.406vw;
  font-weight: 500;
}
main .text .page-explain .description .concept span {
  padding-left: 2vw;
}
main .text .page-explain .description .accent {
  color: #ff00bb;
  font-weight: 700;
}
main .text .page-explain .description .accent:before {
  display: none;
}
main .text .page-explain .publishing .description .indent {
  padding-left: 2vw;
}
main .text .page-explain .publishing .description .low::before {
  margin-right: 1.042vw;
}
main .text .page-explain .problem .description .block {
  padding-left: 1.25vw;
}
main .project .site-enter {
  display: grid;
  place-items: center;
  width: 13.021vw;
  aspect-ratio: 5/2;
  font-size: 1.458vw;
  font-weight: 700;
  position: absolute;
  bottom: 5.208vw;
  /* right: 2.604vw; */
  right: 56.604vw;
  color: #202020;
  transition: 1.5s;
}
main .project .site-enter:hover {
  color: #ff79db;
}
main .project .site-enter .button-deco {
  position: absolute;
  display: block;
  background: url('./images/site_button1.png') no-repeat 50% / cover;
  width: 100%;
  height: 100%;
  transition: 1.5s;
}
main .project .site-enter:hover .button-deco {
  transform: perspective(100px) rotateX(180deg);
}

/* project 개인 영역 */
/* 2 */
main #project2 .site-enter .button-deco {
  background-image: url('./images/site_button2.png');
}
main #project2 .site-enter:hover {
  color: #3dd07c;
}
main #project2 .text .page-explain .description {
  border-color: #3dd07c;
}
main #project2 .text .page-explain .description .high,
main #project2 .text .page-explain .description .medium {
  fill: #3dd07c;
}
main #project2 .text .page-explain .description .accent {
  color: #00ae4b;
}
/*  3 */
main #project3 .site-enter .button-deco {
  background-image: url('./images/site_button3.png');
}
main #project3 .site-enter:hover {
  color: #ff7445;
}
main #project3 .text .page-explain .description {
  border-color: #ff7445;
}
main #project3 .text .page-explain .description .high,
main #project3 .text .page-explain .description .medium {
  fill: #ff7445;
}
main #project3 .text .page-explain .description .accent {
  color: #ff4000;
}
main #project3 .text .page-explain .description .color-box .color:nth-child(1) {
  background-color: #141414;
}
main #project3 .text .page-explain .description .color-box .color:nth-child(2) {
  background-color: #1c1c1c;
  color: white;
}
main #project3 .text .page-explain .description .color-box .color:nth-child(3) {
  background-color: #f7f7f7;
}
main #project3 .text .page-explain .description .color-box .color:nth-child(4) {
  background-color: #ff5519;
}
main #project3 .text .page-explain .description .color-box .color:nth-child(5) {
  background-color: #ffb400;
}
main #project3 .text .page-explain .description .font-line span:nth-child(1) {
  font-family: 'Montserrat', sans-serif;
}
main #project3 .text .page-explain .description .font-line span:nth-child(2) {
  font-family: 'Roboto', sans-serif;
}
main #project3 .text .page-explain .description .font-line span:nth-child(3) {
  font-family: 'Noto Sans KR';
}
main #project3 .text .page-explain .description .font-line span:nth-child(4) {
  font-family: 'NanumSquare';
}
/* 4 */
main #project4 .site-enter .button-deco {
  background-image: url('./images/site_button4.png');
}
main #project4 .site-enter:hover {
  color: #ffc400;
}
main #project4 .text .page-explain .description {
  border-color: #ffc400;
}
main #project4 .text .page-explain .description .high,
main #project4 .text .page-explain .description .medium {
  fill: #ffc400;
}
main #project4 .text .page-explain .description .accent {
  color: #ffc400;
}
main #project4 .text .page-explain .description .color-box .color:nth-child(1) {
  background-color: #f0f0f0;
  color: black;
}
main #project4 .text .page-explain .description .color-box .color:nth-child(2) {
  background-color: #ffad99;
}
main #project4 .text .page-explain .description .font-line span:nth-child(1) {
  font-family: 'Helvetica-95-Black', sans-serif;
}
main #project4 .text .page-explain .description .font-line span:nth-child(2) {
  font-family: 'Gyeonggi', sans-serif;
}
main #project4 .text .page-explain .process ol,
main #project4 .text .page-explain .process ol li {
  margin: 0;
}
main #project4 .text .page-explain .process ol li span {
  padding-left: 0.521vw;
}
main #project4 .text .page-explain .description .block {
  padding-left: 1.25vw;
}
main #project4 .text .page-explain .design .description .block {
  padding-left: 0;
}
main #project4 .text .page-explain .problem .description .accent {
  display: inline-block;
  font-size: 1.5vw;
  color: #000;
}
main #project4 .text .page-explain .problem .description .accent:hover {
  color: #f99d18;
  text-decoration: underline;
  text-underline-offset: 0.521vw;
}
/* 5 */
main #project5 .site-enter .button-deco {
  background-image: url('./images/site_button5.png');
}
main #project5 .site-enter:hover {
  color: #718fff;
}
main #project5 .text .page-explain .description {
  border-color: #718fff;
}
main #project5 .text .page-explain .description .high,
main #project5 .text .page-explain .description .medium {
  fill: #718fff;
}
main #project5 .text .page-explain .description .accent {
  color: #2b58ff;
}
main #project5 .text .page-explain .description .color-box .color:nth-child(1) {
  background-color: #bec9ff;
  color: black;
}
main #project5 .text .page-explain .description .color-box .color:nth-child(2) {
  background-color: #8d86e2;
}
main #project5 .text .page-explain .description .color-box .color:nth-child(3) {
  background-color: #4d6cff;
  color: white;
}
main #project5 .text .page-explain .description .color-box .color:nth-child(4) {
  background-color: #484848;
  color: white;
}
main #project5 .text .page-explain .description .block {
  padding-left: 1.25vw;
}
main .text .page-explain .description .low {
}

main #project5 .text .page-explain .process ol,
main #project5 .text .page-explain .process ol li {
  margin: 0;
}
main #project5 .text .page-explain .process ol li span {
  padding-left: 0.521vw;
}
main #project5 .text .page-explain .result .description .accent {
  display: inline-block;
  font-size: 1.5vw;
  color: #000;
}
main #project5 .text .page-explain .result .description .accent:hover {
  color: #718fff;
  text-decoration: underline;
  text-underline-offset: 0.521vw;
}

main .title {
  top: 1.563vw;
  position: absolute;
  left: calc(2.083vw - 1.563vw);
  font-size: 8.417vw;
  color: #003295;
  opacity: 0.5;
  line-height: auto;
}
main .project .title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(2.604vw);
  transition: 0.5s;
}

main #skill {
  height: 60.938vw;
  background-color: #003295;
  position: relative;
  color: white;
  display: grid;
  justify-content: center;
  align-content: end;
}
main #skill .title {
  position: absolute;
  color: white;
  top: 3.906vw;
  left: 2.604vw;
  opacity: 0;
  transform: translateY(2.604vw);
  transition: 0.5s;
}
main #skill .skill-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.167vw 8.073vw;
  margin-bottom: 3.906vw;
}
main #skill .stack h3 {
  font-size: 3.125vw;
}
main #skill .stack h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.26vw;
  margin-top: 1.042vw;
  background-color: #ff00bb;
}
main #skill .stack:nth-child(2) h3::after {
  background-color: #ffc400;
}
main #skill .stack:nth-child(3) h3::after {
  background-color: #ff4000;
}
main #skill .stack:nth-child(4) h3::after {
  background-color: #00ae4b;
}
main #skill .stack .stack-list {
  margin: 2.083vw 3.385vw;
  line-height: 1.6;
  font-size: 1.563vw;
}

footer {
  height: 51.25vw;
  background-color: #003295;
  position: relative;
  color: white;
}
footer .title {
  font-size: 10.417vw;
  position: absolute;
  color: white;
  top: 3.906vw;
  left: 2.604vw;
  opacity: 0;
  transform: translateY(2.604vw);
  transition: 0.5s;
}
footer p {
  position: absolute;
  font-size: 3.125vw;
  top: 9.896vw;
  right: 15.625vw;
}

footer .about-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20.313vw;
  margin: 0 6.771vw;
}
footer .mine .name {
  font-size: 4.167vw;
}
footer .mine .name span {
  margin: 1.563vw 0 6.771vw;
}
footer .mine .school {
  font-size: 2.083vw;
  line-height: 1.6;
}

footer .sns {
  line-height: 1.6;
  font-size: 2.083vw;
  text-align: right;
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: end;
}
footer .sns img {
  width: 12.5vw;
}
footer .sns .git {
  margin-top: 1.563vw;
}
footer .sns .git:hover {
  text-decoration: underline;
  text-underline-offset: 0.521vw;
}
