@charset "utf-8";

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'NexonFootball';
  src: url('./common/fonts/NEXONFootballGothicL.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NexonFootball';
  src: url('./common/fonts/NEXONFootballGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ramche';
  src: url('./common/fonts/Ramche.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Jamsil';
  src: url('./common/fonts/TheJamsil2Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jamsil';
  src: url('./common/fonts/TheJamsil3Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jamsil';
  src: url('./common/fonts/TheJamsil4Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jamsil';
  src: url('./common/fonts/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}