@charset "utf-8";

/* 'Montserrat', 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&family=Roboto:wght@300;400;500&display=swap');

/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* 'NanumSquare' */
@font-face {
    font-family: 'NanumSquare';
    src: url('./font/NanumSquareR.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('./font/NanumSquareB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    src: url('./font/NanumSquareEB.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}