@charset "utf-8";

:root {
    --color-white: rgb(255,255,255);
    --color-gray: rgb(147,147,147);
    --color-darkgray: rgb(111,111,111);
    --color-black: rgb(35,35,35);

    --back-white: rgb(247,247,247);
    --back-orange: rgb(255,85,25);
    --back-black: rgb(28,28,28);
    --back-black2: rgb(20,20,20);
    --back-yellow: rgb(255,180,0);

    --font-size11: 0.688rem;
    --font-size12: 0.75rem;
    --font-size14: 0.87rem;
    --font-size18: 1.125rem;
    --font-size25: 1.563rem;
    --font-size32: 2rem;
    --font-size40: 2.5rem;
    --font-size55: 3.438rem;
    --font-size100: 6.25rem;

    --padding5: 0.26vw;
    --padding10: 0.521vw;
    --padding15: 0.781vw;
    --padding20: 1.042vw;
    --padding25: 1.302vw;
    --padding35: 1.823vw;
    --padding45: 2.34vw;
    --padding95: 4.948vw;
    --padding130: 6.771vw;
}